.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profileBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    
}
.editBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    min-width: 300px;
}
